body{
    background-color: darkorange;
    
}
h1, h2 {
    background-color: darkslateblue;
}
/* changing color of header  bg */
header {background-color:aliceblue;
padding: 20px;
margin: 20px;
}
p{
    color: aliceblue;
}
h1, h2,h3{
    text-decoration: underline;
}
section p{
    border: 2px solid black;
}
#aboutus{
    background-color: brown;
}
/* using class to target an element */
.imp-para{
    text-transform: capitalize;
    background-color: azure;
    color: blueviolet;
}
section ul li:nth-child(odd){
    background-color: grey;
}
