/* inheritance */
body{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
   
}
/* multiple selector  */
header, footer{
     background-color: aqua;
}
/* class selector */
.site-title{
    color: black;
}
/* ID selector */
#my-image{
    box-shadow: 0 0 2px 1px black;
}
/* nth-child */
li:nth-child(odd) {
background-color: blanchedalmond;
}
/* navigation */
nav a{
    text-decoration: aliceblue;
    background-color: beige;
    border: 1px solid black;
    padding: 5px;

}

